<h2>Links</h2>

<p>You can find me in the following links below:</p>
<ul>
	<li>
		Github: <a href="https://github.com/jaycedotbin" rel="noreferrer"
			>@jaycedotbin</a
		>
	</li>
	<li>
		Email: <a href="mailto:johncarloaustria@proton.me" rel="noreferrer"
			>johncarloaustria@proton.me
		</a>
	</li>
</ul>
