<h2>My Tech Stacks</h2>

<p>
	When building something, I like to get something up as quick as possible. The reason for this,
	is it is hard to get something up and running, that's why I don't want a certain kind of
	technology to be blocking my development workflow.
</p>

<h3>Frontend Frameworks</h3>

<p>
	I use two frontend for building apps, React is the one that I have the most experience with,
	Svelte is what I am considering to build my future apps with.
</p>

<ul>
	<li>
		<article>
			<h4>React</h4>
			<p>Frontend Framework where I have the most experience with.</p>
		</article>
	</li>
	<li>
		<article>
			<h4>Svelte</h4>
			<p>
				Frontend Framework that is relatively new but I am very much interested to work on,
				it's amazing!
			</p>
		</article>
	</li>
</ul>

<h3>CSS Frameworks</h3>

<p>
	I use tailwind as my main utility css framework, I don't write much plain css as much ever since
	tailwind released, I can style my webpages really fast by just using utility classes without
	leaving my HTML and that is important to me.
</p>

<p>
	I have also used other CSS-IN-JS frameworks too, but I prefer native css or the one that is
	builtin in the framework like the one in svelte
</p>
<ul>
	<li>
		<h4>Tailwind CSS</h4>
		<p>
			My main CSS framework, with utility first in mind, I never have to leave my HTML and
			keep writing HTML and my JavaScript logic in a single file!
		</p>
	</li>
	<li>
		<h4>Styled Components</h4>
		<p>
			I sometimes use this in my React apps, it complements React really well being a
			component driven framework!
		</p>
	</li>
</ul>
