# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# Serverless directories
.serverless/
.vercel

# Astro production build
dev-dist
dist
.astro
/test-results/
/playwright-report/
/playwright/.cache/

# Ignore .obsidian folders
.obsidian
