---
import Post from "@/components/Post.astro";
import Video from "@/components/Video.astro";

interface Props {
	posts: Array<unknown>;
}

const { posts } = Astro.props as Props;
---

<section class="blog-container">
	<section class="blog">
		<article>
			<h2>Blog</h2>

			<p>This is where I share my thoughts, devlogs, opinions, philosophy, etc.</p>
			<p>
				I learn a lot of things everyday, to retain my knowledge, I need to keep it
				somewhere where I can read it sometime.
			</p>
			<p>
				So what better place to store all of my personal learnings? Here in my personal
				site! I use Astro in it's full potential in this blog page!
			</p>
		</article>

		<figure>
			<Video
				mpfour="/videos/konosuba-s2-the-magic-lie-detector.mp4"
				webm="/videos/konosuba-s2-the-magic-lie-detector.webm"
			/>
		</figure>
	</section>
	<section class="blog-posts">
		<ul class="posts">
			{posts.map((post) => <Post post={post} />)}
		</ul>
	</section>
</section>

<style>
	.blog-container {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		padding: 2rem 1rem;
	}

	.blog {
		display: flex;
		flex-direction: column-reverse;
		grid-column: span 2 / span 2;
		gap: 2rem;
		padding: 2rem 0;
	}

	h2 {
		font-size: 2.25rem;
		font-weight: bold;
		line-height: 2.5rem;
	}

	article {
		max-width: 65ch;
	}

	.blog-posts {
		grid-column: span 2 / span 2;
	}

	.posts {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		list-style-type: none;
		gap: 1rem;
		padding: 1rem 0;
	}

	@media (min-width: 768px) {
		.posts {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	@media (min-width: 1024px) {
		.blog-container {
			width: 75%;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			margin: 0 auto;
		}

		.blog {
			flex-direction: row;
		}
	}
</style>
