<header>
	<h1>
		<span>My name is</span>
		<br />
		<strong>John Carlo B. Austria</strong><br />
		<span>and I am a</span>
		<br />
		<strong>Programmer</strong>
	</h1>
</header>

<style>
	header {
		min-height: 100vh;
		border-width: 1px;
		border-color: hsl(0, 0%, 64%);
		background: url("/graph-paper.svg");
	}

	h1 {
		font-size: 3rem;
		font-weight: normal;
		text-align: center;
		line-height: 2.5rem;
		padding-top: 4rem;
	}

	span {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	@media (prefers-color-scheme: dark) {
		header {
			border-color: hsl(0, 0%, 15%);
		}
	}
</style>
