<header
	class="min-h-screen border border-neutral-400 dark:border-neutral-800 bg-[url('/graph-paper.svg')]"
>
	<h1 class="text-5xl pt-16 font-normal text-center leading-10">
		<span class="text-xl">My name is</span>
		<br />
		<strong>John Carlo B. Austria</strong><br />
		<span class="text-xl">and I am a</span>
		<br />
		<strong>Programmer</strong>
	</h1>
</header>
