---
import Video from "@/components/Video.astro";
---

<section class="flex flex-col lg:flex-row gap-8 py-8 px-4 lg:w-9/12 lg:mx-auto">
	<figure>
		<Video mpfour="/videos/knowledge-tai-lopez.mp4" webm="/videos/knowledge-tai-lopez.mp4" />
	</figure>
	<article class="max-w-prose prose dark:prose-invert">
		<h2 class="text-4xl my-8">Programming Philosophy 🗿</h2>
		<p class="text-2xl">
			My main philosophy about programming is to make <strong
				>programming as simple as possible
			</strong>, The computer can only understand Ones and Zeros, there shouldn't be any kind
			of complex system or design that is working under the hood of a program that will make
			it harder than it is for the computer to understand.
		</p>
	</article>
</section>
