---
import Post from "~/components/Post.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

const sortedPosts = posts.sort(
  (a, b) => Number(b.data.publishDate) - Number(a.data.publishDate),
);

const meta = {
  description:
    "Collections of thoughts, essays, and articles about web development, design, and other things.",
  title: "Posts | John Carlo Austria",
  keywords: ["Blog", "Posts", "Essays", "Articles", "Thoughts"],
};
---

<BaseLayout {meta}>
  <main class="px-4 lg:px-40">
    <header>
      <h1
        class="text-5xl font-bold capitalize leading-loose text-zinc-900 dark:text-zinc-50"
      >
        Posts
      </h1>
    </header>
    <ul class="grid gap-4 md:grid-cols-4 xl:grid-cols-6">
      {sortedPosts.map((instance) => <Post posts={instance} />)}
    </ul>
  </main>
</BaseLayout>
