---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";
import Post from "../../components/Post.astro";
const posts = await getCollection("posts", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
}).then((posts) =>
  posts.sort((a, b) => Number(b.data.publishDate) - Number(a.data.publishDate)),
);
const meta = await getEntry("meta", "posts");
---

<BaseLayout {meta}>
  <div class="container mx-auto p-4" transition:animate="slide">
    <div class="grid grid-cols-1 place-items-start">
      <nav
        class="flex max-w-prose flex-row items-center gap-8 justify-self-start"
      >
        <h1 class="text-2xl/loose font-bold">Posts</h1>
        <a
          href="/"
          class="text-sm text-blue-600 hover:underline dark:text-blue-300"
          >Back to home</a
        >
      </nav>
      <div
        class="grid w-full grid-cols-1 place-items-stretch gap-6 sm:grid-cols-2 lg:grid-cols-3"
      >
        {posts.map((post) => <Post post={post} />)}
      </div>
    </div>
  </div>
</BaseLayout>
