<section>
  <div style="border-bottom: 1px solid;">
    <h2>Work Experience</h2>
  </div>
  <h3>
    <span>Mox & Lotus</span>
    <span>Rizal, CALABARZON</span>
  </h3>
  <h4>
    <span>Full Stack Software Engineer</span>
    <span>January 2025 - Present</span>
  </h4>
  <ul>
    <li>Created a multitenant application</li>
    <li>
      Integrated the multitenant application to an existing application as
      subsidiary feature
    </li>
    <li>Deployed a multitenant application with Amazon EC2</li>
    <li>
      Migrated a legacy laravel 8 application to laravel 9 and integrated
      laravel vite and inertia js for faster builds and better performance.
    </li>
    <li>
      Optimized the two applications for better performance and faster response time.
    </li>
  </ul>
  <h3>
    <span>Converge ICT Solutions Inc.</span>
    <span>San Pablo, CALABARZON</span>
  </h3>
  <h4>
    <span>Software Engineer Associate</span>
    <span>July 2024 - September 2024</span>
  </h4>
  <ul>
    <li>
      Developed the company's franchise, ticket management system and turned it
      into a progressive web app
    </li>
    <li>
      Developed the company's mobile application for tracking tickets and
      dispatching techinicians
    </li>
  </ul>
  <h3>
    <span>Freelancing</span>
    <span>San Pablo, CALABARZON</span>
  </h3>
  <h4><span>Self Employed</span> <span>October 2021 - Present</span></h4>
  <ul>
    <li>
      Built websites, mobile, web apps that came from referrals from friends,
      families, etc.
    </li>
    <li>Sold applications to interested clients for them to use internally.</li>
  </ul>
</section>

<style>
  h3 {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
  }
</style>
