<section>
  <div style="border-bottom: 1px solid;">
    <h2>Skills</h2>
  </div>
  <p>
    <strong>Programming Languages:</strong>
    <span>HTML, CSS, JavaScript, TypeScript, C++, Java, Go, Rust, HDL, PHP</span>
  </p>
  <p>
    <strong>Tools:</strong>
    <span>
      Git, GitHub, Figma, VS Code, Postman, Supabase, Firebase, Vercel,
      Microsoft Office, Docker
    </span>
  </p>
  <p>
    <strong>Operating Systems:</strong>
    <span>Windows 10, Linux</span>
  </p>
  <p>
    <strong>Frameworks & Libraries:</strong>
    <span
      >Next.js, Astro, Expo, React Native, React, Vue, Angular, Svelte,
      Bootstrap, Tailwind CSS, Spring, Blazor, ASP.Net, Laravel
    </span>
  </p>
  <p>
    <strong>Databases:</strong>
    <span>PostgreSQL, MySQL, SQLite</span>
  </p>
  <p>
    <strong>Soft Skills:</strong>
    <span
      >Communication, Problem-solving, Teamwork, Leadership, Time-management</span
    >
  </p>
</section>
