<section>
  <div style="border-bottom: 1px solid;">
    <h2>Professional Summary</h2>
  </div>
  <p style="text-align: justify;">
    A professional computer engineer with a strong foundation in computer
    science and engineering principles, completed a Bachelor of Science in
    Computer Engineering in Pamantasan ng Lungsod ng San Pablo. Proficient in
    multiple languages including C#, TypeScript, JavaScript, HTML, and CSS, with
    hands-on experience in modern frameworks like Next.js. Began programming
    journey with HLSL, demonstrating early interest and aptitude in graphics
    programming. Combines academic knowledge with practical coding skills,
    aiming to leverage this diverse technical background to launch and grow a
    successful startup in the future.
  </p>
</section>
