<section>
  <h2>Who Am I?</h2>
  <p>
    My name is <a
      href="https://www.linkedin.com/in/jayzersdotdev"
      target="_blank">John Carlo B. Austria</a
    >, I am a computer engineering student based in San Pablo, Laguna,
    Philippines.
  </p>
  <h2>What am I currently doing?</h2>
  <p>
    I am currently taking a Bachelors of Science in Computer Engineering program
    in Pamantasan ng Lungsod ng San Pablo
  </p>
  <p>
    Over time, on my coding journey, I have slowly learned that design is an
    integral part of what makes a high quality experience when a person uses a
    piece of software.
  </p>

  <p>My specialty is building high quality, accessible products</p>
</section>

<style>
  section {
    max-width: 65ch;
  }
</style>
