<section>
  <p>
    My name is <a
      href="https://www.linkedin.com/in/jayzersdotdev"
      target="_blank">John Carlo B. Austria</a
    >, I am a computer engineering student based in San Pablo, Laguna,
    Philippines.
  </p>
  <p>
    I am currently taking a Bachelors of Science in Computer Engineering program
    in Pamantasan ng Lungsod ng San Pablo
  </p>
</section>

<style>
  section {
    max-width: 65ch;
  }
</style>
