<section>
  <h1>
    <span>
      <div>
        <span>Meet your next</span>
      </div>
      <div>
        <div>
          <span>Web</span>
          <span>/</span>
        </div>
        <div>
          <span>Computer</span>
        </div>
        <div>
          <span>/</span>
          <span>Product</span>
        </div>
      </div>
    </span>
    <div>
      <span>{"<"}Engineer{"/>"}</span>
    </div>
  </h1>
</section>
