<section class="grid place-items-center place-content-center pb-96">
  <h1 class="text-center">
    <span class="text-xl font-bold md:text-6xl xl:text-6xl 2xl:text-8xl">
      <div
        class="motion-safe:translate-y-8 motion-safe:animate-fade-in motion-safe:opacity-0 motion-safe:[animation-delay:100ms]"
      >
        <span class="text-neutral-50">Meet your next</span>
      </div>
      <div class="inline-flex flex-wrap">
        <div
          class="motion-safe:translate-y-8 motion-safe:animate-fade-in motion-safe:opacity-0 motion-safe:[animation-delay:125ms]"
        >
          <span class="text-rose-500">Web</span>
          <span class="text-neutral-700">/</span>
        </div>
        <div
          class="motion-safe:translate-y-8 motion-safe:animate-fade-in motion-safe:opacity-0 motion-safe:[animation-delay:250ms]"
        >
          <span class="text-emerald-500">Computer</span>
        </div>
        <div
          class="motion-safe:translate-y-8 motion-safe:animate-fade-in motion-safe:opacity-0 motion-safe:[animation-delay:500ms]"
        >
          <span class="text-neutral-700">/</span>
          <span class="text-sky-500"> Product</span>
        </div>
      </div>
    </span>
    <div
      class="motion-safe:translate-y-8 motion-safe:animate-fade-in motion-safe:opacity-0 motion-safe:[animation-delay:1000ms]"
    >
      <span
        class="bg-gradient-to-r from-emerald-600 via-red-600 to-sky-600 bg-clip-text text-5xl font-bold text-transparent hue-rotate-0 motion-safe:animate-gradient-x md:text-8xl"
        >{"<"}Engineer{"/>"}</span
      >
    </div>
  </h1>
</section>
