---
import { getCollection } from "astro:content";
import Post from "~/components/Post.astro";

const posts = await getCollection("posts", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
}).then((posts) =>
  posts.sort((a, b) => Number(b.data.publishDate) - Number(a.data.publishDate)),
);
---

<h2 id="posts">Posts</h2>
<ol>
  {posts.map((instance) => <Post posts={instance} />)}
</ol>

<style>
  ol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    padding: unset;
    gap: 1rem;
  }
</style>
