---
import { getCollection } from "astro:content";
import Card from "~/components/Card.astro";

const projects = await getCollection("projects");
---

<section>
  <h2 id="projects">Projects</h2>
  <p>The list of projects that I made or was part of throughout the years.</p>
  <ul>
    {
      projects.map((project) => (
        <li>
          <Card
            title={project.data.title}
            link={project.data.link}
            description={project.data.description}
          />
        </li>
      ))
    }
  </ul>
</section>

<style>
  ul {
    display: grid;
    padding: unset;
    list-style-type: none;
    grid-auto-flow: row;
    column-gap: var(--size-3);
    row-gap: var(--size-3);
  }

  @media screen and (min-width: 768px) {
    section {
      max-width: 1280px;
    }

    ul {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }

  li {
    display: grid;
    grid-template-rows: min-content 1fr 2.25em;
    background-image: linear-gradient(
      180deg,
      hsl(210, 9%, 15%) 0%,
      hsl(210, 9%, 10%) 100%
    );
    border: solid var(--border-size-1) hsl(var(--gray-1-hsl) / 5%);
    border-radius: var(--radius-2);
    padding-inline: var(--size-3);
    padding-block: var(--size-2);
    align-items: start;
    justify-items: stretch;
    row-gap: var(--size-6);
  }
</style>
