---
import Card from "~/components/Card.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<section>
  <h2 id="projects">Projects</h2>
  <p>The list of projects that I made or was part of throughout the years.</p>
  <ul>
    {
      projects.map((project) => (
        <li>
          <Card
            title={project.data.title}
            link={project.data.link}
            description={project.data.description}
          />
        </li>
      ))
    }
  </ul>
</section>
