---
import Card from "~/components/Card.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<section>
  <h2
    id="projects"
    class="text-6xl font-bold leading-loose text-neutral-50 md:text-8xl"
  >
    Projects
  </h2>
  <p class="py-4 text-xl font-semibold text-neutral-400">
    The list of projects that I made or was part of throughout the years.
  </p>
  <ul
    class="grid gap-12 py-8 max-sm:grid-flow-row max-sm:overflow-x-scroll md:grid-cols-2 xl:grid-cols-4"
  >
    {
      projects.map((project) => (
        <li>
          <Card
            title={project.data.title}
            link={project.data.link}
            description={project.data.description}
          />
        </li>
      ))
    }
  </ul>
</section>
