---
import { getCollection } from "astro:content";
import Card from "~/components/Card.astro";

const skills = await getCollection("skills");
---

<section class="py-48 md:py-96">
  <h2 class="text-6xl font-bold leading-loose text-neutral-50 md:text-8xl">
    Skills
  </h2>
  <p class="text-xl font-semibold text-neutral-50 md:text-6xl">
    The tech stack that I use to help me go from development to production
  </p>
  <ul
    class="grid gap-12 py-8 max-sm:auto-cols-[360px] max-sm:grid-flow-col max-sm:overflow-x-scroll md:grid-cols-2 xl:grid-cols-4"
  >
    {
      skills.map((skill) => (
        <li>
          <Card
            title={skill.data.title}
            coverImage={skill.data.coverImage}
            coverImageAlt={skill.data.coverImageAlt}
            link={skill.data.link}
            orientation="portrait"
          />
        </li>
      ))
    }
  </ul>
</section>
