body {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin: 0;
}

aside {
  min-width: 20dvw;
  max-width: 25dvw;
}

article {
  width: 60ch;
  max-width: 100%;
  margin-inline: auto;

  h1 {
    font-size: 2.5em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
  }

  h2 {
    font-size: 2em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
  }

  h3 {
    font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
  }

  h4 {
    font-size: 1.5em;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37) 0;
  }

  p {
    font-size: 1em;
    margin: calc(1ex / 0.32) 0;
    line-height: calc(1ex / 0.32);
    text-align: justify;
    hyphens: auto;
  }
}

@supports (font-size-adjust: 1) {
  article {
    font-size-adjust: 0.5;
  }
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
