---
import Head from '@/components/Head.astro';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
---

<DefaultLayout>
	<Head slot="head">
		<title>404 | John Carlo Austria</title>
		<meta
			name="description"
			content="Uh oh! It seems you have visited a link in my website that does not exist, please go back as there is nothing to see here!"
		/>
	</Head>
	<main slot="content">
		<img
			src="/assets/cat-loading.webp"
			alt="Cat does not understand where you want to go? Cat is not happy, cat wants to go back to the home page :<"
			width="640"
			height="360"
		/>
		<h1>404 - Content not Found</h1>
	</main>
</DefaultLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: url('/graph-paper.svg');
		min-height: 100vh;
	}

	img {
		border-width: 2px;
		border-style: solid;
		border-color: hsl(0, 0%, 90%);
		border-radius: 0.375rem;
		margin: 2rem 0;
	}

	h1 {
		font-size: 3rem;
		line-height: 1;
		font-weight: bold;
	}

	@media (prefers-color-scheme: dark) {
		img {
			border-color: hsl(0, 0%, 25%);
		}

		h1 {
			color: #fafafa;
		}
	}
</style>
