---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout
	title="404 | John Carlo Austria"
	description="Uh oh! It seems you have visited a link in my website that does not exist, please go back as there is nothing to see here!"
>
	<h1>404 - Content not Found</h1>
</DefaultLayout>
