---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Head from "@/components/Head.astro";
---

<DefaultLayout>
	<Head slot="head">
		<title>404 | John Carlo Austria</title>
		<meta
			name="description"
			content="Uh oh! It seems you have visited a link in my website that does not exist, please go back as there is nothing to see here!"
			<
		/>
	</Head>
	<Fragment slot="content">
		<h1>404 - Content not Found</h1>
	</Fragment>
</DefaultLayout>
