---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="grid min-h-dvh place-items-center">
    <section class="container mx-auto flex flex-col items-center justify-center gap-4 p-4">
      <p>Wow, you managed to crash my site, Impressive!</p>

      <a
        href="/"
        class="font-medium text-blue-600 underline-offset-2 hover:underline dark:text-blue-300"
        >Go to Home</a
      >
    </section>
  </main>
</BaseLayout>
