---
import Head from "@/components/Head.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Links from "@/layouts/sections/about/Links.astro";
import LoveForTech from "@/layouts/sections/about/LoveForTech.astro";
import TechStacks from "@/layouts/sections/about/TechStacks.astro";
---

<DefaultLayout>
	<Head slot="head">
		<title>About | John Carlo Austria</title>
		<meta
			name="description"
			content="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; About section"
		/>
	</Head>
	<main slot="content">
		<article
			class="mx-auto prose md:prose-lg lg:prose-xl dark:prose-invert dark:prose-a:text-blue-300"
		>
			<h1>About</h1>
			<p>A little bit about me! Here you can find my biography and why I love tech.</p>

			<Links />
			<LoveForTech />
			<TechStacks />
		</article>
	</main>
</DefaultLayout>
