---
import Head from "@/components/Head.astro";
import Posts from "@/components/Posts.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<Head>
    <title>Blog | John Carlo Austria</title>
    <meta name="description"
        content="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; Blog section">
</Head>

<BaseLayout>

    <main>
        <h1>Blog Posts</h1>
        <Posts />
    </main>
</BaseLayout>
