---
import Head from "@/components/Head.astro";
import Posts, { Frontmatter } from "@/components/Posts.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";

const posts = await Astro.glob<Frontmatter>("../pages/posts/*.md");
---

<DefaultLayout>
	<Head slot="head">
		<title>Blog | John Carlo Austria</title>
		<meta
			name="description"
			content="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; Blog section"
		/>
	</Head>

	<Fragment slot="content">
		<article class="lg:w-9/12 mx-8 lg:mx-auto">
			<h1 class="text-5xl font-bold my-8">Blog Posts</h1>
			<h2 class="text-4xl font-bold my-4">Topics</h2>
			<ul class="flex flex-row gap-1 my-4 flex-wrap">
				{
					posts.map((post) => (
						<li>
							<button class="rounded-full bg-neutral-800 px-2 py-1 transition ease-in hover:bg-neutral-700 active:scale-95">
								{post.frontmatter.topic}
							</button>
						</li>
					))
				}
			</ul>
			<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
				<Posts />
			</ul>
		</article>
	</Fragment>
</DefaultLayout>
