---
import Posts from "@/components/Posts.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Blog | John Carlo Austria"
    description="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; Blog section">
    <main>
        <h1>Blog Posts</h1>
        <Posts />
    </main>
</DefaultLayout>
