---
import Head from "@/components/Head.astro";
import Post from "@/components/Post.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import type { Frontmatter } from "@/types/frontmatter";

const posts = await Astro.glob<Frontmatter>("../pages/posts/*.md");
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
---

<DefaultLayout>
	<Head slot="head">
		<title>Blog | John Carlo Austria</title>
		<meta
			name="description"
			content="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; Blog section"
		/>
	</Head>

	<main slot="content">
		<article class="lg:w-9/12 mx-8 lg:mx-auto">
			<h1 class="text-5xl font-bold my-8">Blog Posts</h1>
			<h2 class="text-4xl font-bold my-4">Topics</h2>
			<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
				{nonDraftPosts.map((post) => <Post post={post} />)}
			</ul>
		</article>
	</main>
</DefaultLayout>
