---
import { Image } from "@astrojs/image/components"
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import MyPicture from "@/assets/me.png"
---

<DefaultLayout>
  <header class="p-2">
    <nav>
      <ul class="flex justify-end gap-2">
        <li>
          <a href="#hero">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#blog">Blog</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="hero">
      <figure>
        <Image format="webp" src={MyPicture} width={180} height={180} alt="John Carlo Austria, Creator of website"
          class="rounded-full" />
        <figcaption>This is me!</figcaption>
      </figure>
    </section>
    <section id="about">
      <h2>About</h2>
      <p>A student in Pamantasan ng Lungsod ng San Pablo that is passionate
        about programming.</p>
    </section>
    <section id="contact">
      <h2>Contact</h2>
      <a href="mailto:johncarloaustria@protonmail.com" class="underline text-blue-400">E-mail</a>
    </section>
  </main>
</DefaultLayout>
