---
import { getEntry } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { Content as Summary } from "~/pages/_components/Summary.md";
import { Content as Experience } from "~/pages/_components/Experience.md";
import Projects from "~/pages/_components/Projects.astro";
import Posts from "~/pages/_components/Posts.astro";

const meta = await getEntry("meta", "home");
---

<BaseLayout {meta}>
  <main>
    <section>
      <Summary />
    </section>
    <section>
      <Experience />
    </section>
    <section>
      <Projects />
    </section>
    <section>
      <Posts />
    </section>
  </main>
</BaseLayout>
