---
import Head from "@/components/Head.astro";
import Posts from "@/components/Posts.astro";
import { SpotifyNowPlaying } from "@/components/SpotifyNowPlaying";
import DefaultLayout from "@/layouts/DefaultLayout.astro";

const response = await fetch(`${import.meta.env.PUBLIC_SPOTIFY_API_URL}/api/spotify-now-playing`);
const results = await response.json();
---

<DefaultLayout>
	<Head
		slot="head"
		title="Home | John Carlo Austria"
		description="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; Homepage section"
	/>
	<Fragment slot="content">
		<article
			class="prose md:prose-lg lg:prose-xl dark:prose-invert dark:prose-a:text-blue-300 prose-a:text-blue-800 prose-a:dark:visited:text-purple-300 prose-a:visited:text-purple-800"
		>
			<h1>Hey There!</h1>

			<header class="flex flex-col md:flex-row md:justify-between">
				<section class="self-center text-center md:text-start">
					<p>My name is <strong>John Carlo B. Austria</strong></p>
					<p>I am a <strong>Frontend Developer</strong></p>
				</section>
				<section class="m-auto">
					<img
						src="/me.jpeg"
						alt="John Carlo Austria, The creator of this site (This is me!)."
						class="rounded-full"
					/>
				</section>
			</header>
			<p>
				I started programming back in 2017 when messing around with game's overall graphics
				by modding as much as I can and implementing shaders to make it look good and add
				fancy effects.
			</p>

			<p>Nowadays, I do frontend development as I love to make good looking apps.</p>

			<p>
				My main philosophy about programming is to make <strong
					>programming as simple as possible
				</strong>, The computer can only understand Ones and Zeros, there shouldn't be any
				kind of complex system or design that is working under the hood of a program that
				will make it harder than it is for the computer to understand.
			</p>

			<h2>About</h2>

			<p>
				I am a student in Pamantasan ng Lungsod ng San Pablo that is passionate about
				programming.
			</p>
			<p>
				I am currently studying and taking a Bachelor's of Science in Computer Engineering
				(BSCpE). I am really fascinated about computers, the amount of things that you can
				do are almost limitless and I am always fascinated by the fact that these are only
				just a bunch of switches that turn on and off!
			</p>
			<p>
				Even though we only understand the basic components of them, we still need people to
				understand the underlying parts of it. This is where my college specialization
				shines.
			</p>
			<p>
				I love trying out different kinds of technologies and what are their limits and what
				can I do with them.
			</p>
			<a href="/about">See more &RightArrow;</a>
			<h2>Blog</h2>
			<p>
				This is where I share my thoughts about... anything! Topics like software
				engineering philosophy, opinions about technologies and life are the things that I
				like to write...
			</p>
			<a href="/blog">See more &RightArrow;</a>
		</article>
		<Posts />
		<SpotifyNowPlaying client:visible data={results} />
	</Fragment>
</DefaultLayout>
