---
import { Image } from "@astrojs/image/components"
import Posts from "@/components/Posts.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import MyPicture from "@/assets/me.jpeg"
import Header from "@/components/Header.astro";
---

<DefaultLayout title="Home | John Carlo Austria"
  description="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; Homepage section">

  <Header />
  <main class="px-4">
    <section>
      <h1 class="text-5xl">John Carlo Austria - Frontend Developer</h1>
      <figure>
        <Image format="webp" src={MyPicture} width={512} height={512} quality={80}
          alt="John Carlo Austria, Creator of website" class="rounded-full" />
        <figcaption>This is me!</figcaption>
      </figure>
    </section>
    <section>
      <h2>About</h2>
      <p>A student in Pamantasan ng Lungsod ng San Pablo that is passionate
        about programming.</p>
    </section>
    <section>
      <h2>Contact</h2>
      <p>
        You can find my professional profile in these links, I prefer email as my main method of communication
        professionally.
      </p>
      <ul>
        <li>
          <a href="https://github.com/jaycedotbin" rel="noreferrer" class="underline text-blue-400">Github</a>
        </li>
        <li>
          <a href="mailto:johncarloaustria@protonmail.com" class="underline text-blue-400">E-mail</a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Blog</h2>
      <Posts />
      <a href="/blog" class="underline text-blue-400">See more</a>
    </section>
  </main>

</DefaultLayout>
