---
import { Content } from "@/pages/content/Home.md"
import Posts from "@/components/Posts.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Head from "@/components/Head.astro";
---

<DefaultLayout>

  <Head slot="head" title="Home | John Carlo Austria"
    description="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; Homepage section">
  </Head>
  <Fragment slot="content">
    <article class="prose md:prose-lg lg:prose-xl dark:prose-invert dark:prose-a:text-blue-300">
      <Content />
    </article>
    <h2 class="my-8 text-2xl">Blog</h2>
    <p>This is where I share my thoughts about... anything! Topics like software engineering philosophy, opinions
      about technologies and life are the things that I like to write</p>
    <Posts />
    <a href="/blog" class="underline dark:text-blue-300 text-blue-800">See more</a>
  </Fragment>
</DefaultLayout>

<style is:global>
  .profile-picture img {
    @apply rounded-full mx-auto;
  }
</style>
