---
import BaseLayout from "~/layouts/BaseLayout.astro";
import type { SEOProps } from "~/types/common";
import OGImage from "~/assets/images/opengraph/home.jpg";
import Hero from "~/pages/_components/Hero.astro";
import About from "~/pages/_components/About.astro";
import Skills from "~/pages/_components/Skills.astro";
import Projects from "~/pages/_components/Projects.astro";

const meta: SEOProps = {
  description:
    "John Carlo Austria's is a computer engineering student based in " +
    "San Pablo, Laguna, Philippines. He is a fullstack developer who " +
    "specializes in building high quality, accessible products.",
  title: "About | John Carlo Austria",
  keywords: ["Web Developer", "Software Engineer", "Fullstack Developer"],
  image: OGImage,
};
---

<BaseLayout {meta}>
  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
  </main>
</BaseLayout>

<style>
  main {
    scroll-behavior: smooth;
    padding-inline: var(--size-fluid-3)
  }
</style>
