---
import { Image } from "@astrojs/image/components"
import DefaultLayout from "@/layouts/default.astro";
import MyPicture from "@/assets/me.png"
import "@/components/ThemeSwitch.ts"
---

<DefaultLayout>
  <header>
    <nav class="navigation">
      <ul>
        <li>
          <a href="#hero">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <theme-switch client:load></theme-switch>
  </header>
  <main>
    <section id="hero" class="container-sm">
      <figure class="profile">
        <Image format="webp" src={MyPicture} width={180} height={180} alt="John Carlo Austria, Creator of website" />
        <figcaption>This is me!</figcaption>
      </figure>
    </section>
    <section id="about" class="container-sm">
      <h2>About</h2>
      <p>A student in Pamantasan ng Lungsod ng San Pablo that is passionate
        about programming.</p>
    </section>
    <section id="contact" class="container-sm">
      <h2>Contact</h2>
      <a href="mailto:johncarloaustria@protonmail.com">E-mail</a>
    </section>
  </main>
</DefaultLayout>
