---
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import BaseLayout from "~/layouts/BaseLayout.astro";
import Post from "~/components/Post.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
}).then((posts) =>
  posts.sort((a, b) => Number(b.data.publishDate) - Number(a.data.publishDate)),
);
const meta = await getEntry("meta", "home");
---

<BaseLayout {meta}>
  <main class="grid min-h-dvh place-items-center">
    <section class="container mx-auto">
      <h1
        class="scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance dark:text-neutral-300"
      >
        John Carlo Austria
      </h1>
      <h2
        class="text-center text-lg font-bold text-neutral-500"
      >
        Computer Engineer
      </h2>
      <ul
        class="mt-4 flex flex-row items-center justify-center gap-2 text-lg font-semibold"
      >
        <li>
          <a
            href="https://github.com/cpeaustriajc"
            class="font-medium text-blue-600 underline-offset-2 hover:underline dark:text-blue-300"
            target="_blank"
          >
            GitHub
            <sup>
              <Icon name="lucide:external-link" class="inline text-xs" />
            </sup>
          </a>
        </li>
        <li>
          <a
            href="https://linkedin.com/in/cpeaustriajc"
            class="font-medium text-blue-600 underline-offset-2 hover:underline dark:text-blue-300"
            target="_blank"
          >
            LinkedIn
            <sup>
              <Icon name="lucide:external-link" class="inline text-xs" />
            </sup>
          </a>
        </li>
        <li>
          <a
            href="mailto:cpe.austria.johncarlo@gmail.com"
            class="font-medium text-blue-600 underline-offset-2 hover:underline dark:text-blue-300"
          >
            Email
          </a>
        </li>
        <li>
          <a
            href="https://cpeaustriajc.dev/cv.pdf"
            class="font-medium text-blue-600 underline-offset-2 hover:underline dark:text-blue-300"
          >
            Resume
          </a>
        </li>
      </ul>
    </section>
  </main>
</BaseLayout>
