---
import Head from "@/components/Head.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import About from "@/layouts/sections/index/About.astro";
import Blog from "@/layouts/sections/index/Blog.astro";
import Hero from "@/layouts/sections/index/Hero.astro";
import History from "@/layouts/sections/index/History.astro";
import Philosophy from "@/layouts/sections/index/Philosophy.astro";
import type { Frontmatter } from "@/types/frontmatter";

const posts = await Astro.glob<Frontmatter>("../pages/posts/*.md");
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
---

<DefaultLayout>
	<Head slot="head">
		<title>Home | John Carlo Austria</title>
		<meta
			name="description"
			content="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; Homepage section"
		/>
	</Head>
	<main slot="content">
		<Hero />
		<History />
		<Philosophy />
		<About />
		<Blog posts={nonDraftPosts} />
	</main>
</DefaultLayout>

<style>
	@media (min-width: 1024px) {
		main > :not([hidden]) ~ :not([hidden]) {
			margin-top: calc(16rem * calc(1 - 0));
			margin-bottom: calc(16rem * 0);
		}
	}
</style>
