---
import OGImage from "~/assets/images/opengraph/home.jpg";
import BaseLayout from "~/layouts/BaseLayout.astro";
import Projects from "~/pages/_components/Projects.astro";
import type { SEOProps } from "~/types/common";
import Posts from "./_components/Posts.astro";

const meta: SEOProps = {
  description:
    "John Carlo Austria's is a computer engineering student based in " +
    "San Pablo, Laguna, Philippines. He is a fullstack developer who " +
    "specializes in building high quality, accessible products.",
  title: "Portfolio | John Carlo Austria",
  keywords: ["Web Developer", "Software Engineer", "Fullstack Developer"],
  image: OGImage,
};
---

<BaseLayout {meta}>
  <main>
    <Projects />
    <Posts />
  </main>
</BaseLayout>

<style>
  main {
    scroll-behavior: smooth;
    display: grid;
    padding-inline: 1rem;
  }

  @media screen and (min-width: 768px) {
    main {
      padding-inline: 1rem;
      place-items: center;
    }
  }
</style>
