---
import '@fontsource/inter';
import '@fontsource/oswald';

const seo = {
	description: "HTML format of John Carlo Austria's Resume",
	title: 'Resume | John Carlo Austria',
};
---

<html lang="en">
	<head>
		<title>{seo.title}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={seo.description} />
		<meta name="color-scheme" content="dark" />
		<meta property="og:title" content={seo.title} />
		<meta property="og:url" content={Astro.url.href} />
		<script
			src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"
		></script>
	</head>
	<body class="font-sans bg-neutral-900 text-neutral-50">
		<header class="max-w-prose mt-8 mx-auto bg-neutral-900 text-neutral-50">
			<section class="flex flex-row gap-8">
				<figure>
					<img
						src="/assets/portrait-square.webp"
						alt="Profile picture of John Carlo Austria"
						class="rounded-full"
						width="128"
						height="128"
					/>
				</figure>
				<figcaption>
					<h1
						class="text-5xl font-display font-black text-neutral-100"
					>
						John Carlo Austria
					</h1>
					<p class="text-slate-100">
						I'm a programmer that creates apps in the web and create
						bare metal devices.
					</p>

					<ul class="text-slate-400">
						<li class="space-x-2">
							<iconify-icon
								inline
								icon="carbon:location"
								width="16"
							/>
							<a
								href="http://maps.google.com/?q=San+Pablo+City,+Laguna,+Philippines"
								target="_blank"
								rel="noreferrer"
								class="underline"
								>San Pablo City, Laguna, Philippines</a
							>
						</li>
						<li class="space-x-2">
							<iconify-icon
								inline
								icon="carbon:email"
								width="16"
							/>
							<a
								href="mailto:cpe.austria.johncarlo@gmail.com"
								target="_blank"
								class="underline"
								>cpe.austria.johncarlo@gmail.com</a
							>
						</li>
					</ul>
				</figcaption>
			</section>
		</header>

		<main class="max-w-prose mx-auto bg-neutral-900 text-neutral-50">
			<article>
				<h2
					class="text-xl font-display font-bold my-2 dark:text-slate-400"
				>
					Contact
				</h2>
				<section class="space-x-2 my-2">
					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 px-1 py-2"
					>
						<iconify-icon
							inline
							icon="ant-design:twitter-circle-filled"
							width="20"
						/>
						<a
							href="https://twitter.com/jaycedotbin"
							rel="noreferrer"
							target="_blank"
						>
							Twitter
						</a>
					</span>
					<span
						class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
					>
						<iconify-icon
							inline
							icon="entypo-social:linkedin-with-circle"
							width="20"
						/>
						<a
							href="https://www.linkedin.com/in/jaycedotbin"
							rel="noreferrer"
							target="_blank"
						>
							LinkedIn
						</a>
					</span>
					<span
						class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
					>
						<iconify-icon
							inline
							icon="ant-design:github-filled"
							width="20"
						/>

						<a
							href="https://github.com/jaycedotbin"
							rel="noreferrer"
							target="_blank"
						>
							GitHub
						</a>
					</span>
				</section>
			</article>
			<article>
				<h2 class="text-xl font-bold font-display my-2 text-slate-400">
					About
				</h2>

				<p>
					A Computer Engineering Student (Undergraduate) in <a
						class="underline dark:text-blue-500 text-blue-800"
						href="https://www.facebook.com/PLSPOfficialFBPage"
						>Pamantasan Lungsod ng San Pablo</a
					>, I have a passion in programming and especially in web and
					embedded systems. I also have a passion in creating and
					designing stuff.
				</p>
			</article>
			<article>
				<h2 class="text-xl font-bold font-display my-2 text-slate-400">
					Tech Stack
				</h2>

				<div class="flex flex-wrap gap-4">
					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-200 px-1 py-2"
					>
						<iconify-icon
							inline
							icon="logos:react"
							class="text-[#61dbfb]"
							width="16"
						/> React
					</span>

					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-200 px-1 py-2"
					>
						<iconify-icon inline icon="logos:rust" width="16" /> Rust
					</span>
					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-200 px-1 py-2"
					>
						<iconify-icon inline icon="logos:html-5" width="16" /> HTML
					</span>
					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-200 px-1 py-2"
					>
						<iconify-icon inline icon="logos:css-3" width="16" /> CSS
					</span>
					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-200 px-1 py-2"
					>
						<iconify-icon
							inline
							icon="logos:github-icon"
							width="16"
						/>
						GitHub
					</span>

					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-100 px-1 py-2"
					>
						<iconify-icon
							inline
							icon="logos:javascript"
							width="16"
						/>
						JavaScript
					</span>

					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-100 px-1 py-2"
					>
						<iconify-icon
							inline
							icon="logos:typescript-icon"
							width="16"
						/>
						TypeScript
					</span>
					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-100 px-1 py-2"
					>
						<iconify-icon
							inline
							icon="logos:c-plusplus"
							width="16"
						/> C++
					</span>
					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-100 px-1 py-2"
					>
						<iconify-icon
							inline
							icon="logos:postgresql"
							width="16"
						/> Postgresql
					</span>
					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-100 px-1 py-2"
					>
						<iconify-icon
							inline
							icon="logos:nextjs-icon"
							width="16"
						/> Next.js
					</span>

					<span
						class="inline-flex gap-1 items-center rounded text-xs dark:bg-neutral-800 bg-neutral-100 px-1 py-2"
					>
						<iconify-icon inline icon="logos:astro" width="16" /> Astro
					</span>
				</div>
			</article>
			<article>
				<h2 class="text-xl font-bold text-slate-400">
					Career Objectives
				</h2>
				<p>
					To be able to work with companies where the main focus is
					innovation
				</p>
			</article>
		</main>
		<style>
			@page {
				margin: 0;
			}
		</style>
	</body>
</html>
