---
import Head from "@/components/Head.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";

---

<DefaultLayout>

    <Head title="Uses | John Carlo Austria"
        description="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; Uses section"
        slot="head"></Head>
    <Fragment slot="content">
        <article
            class="prose md:prose-lg lg:prose-xl dark:prose-invert dark:prose-a:text-blue-300 prose-a:text-blue-800 prose-a:dark:visited:text-purple-300 prose-a:visited:text-purple-800">
            <h1>Stuff I use on a daily basis</h1>
            <p>
                I like to make my development workflow to benefit me not to be a distraction, these are the stuff I use
                on a daily basis for programming!
            </p>
        </article>
    </Fragment>
</DefaultLayout>
