---
import Head from "@/components/Head.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout>
	<Head
		title="Uses | John Carlo Austria"
		description="John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines; Uses section"
		slot="head"
	/>
	<Fragment slot="content">
		<article
			class="prose md:prose-lg lg:prose-xl dark:prose-invert dark:prose-a:text-blue-300 prose-a:text-blue-800 prose-a:dark:visited:text-purple-300 prose-a:visited:text-purple-800"
		>
			<h1>Stuff I use on a daily basis</h1>
			<p>
				I like to make my development workflow to benefit me not to be a distraction, these
				are the stuff I use on a daily basis for programming!
			</p>
			<h2>Hardware</h2>
			<ul>
				<li>
					Desktop Computer
					<details>
						<summary>Specs</summary>
						<ul>
							<li>Motherboard: MSI A78M-E35 V2</li>
							<li>CPU: AMD A8-7600</li>
							<li>GPU: Colorful Nvidia GT 1030</li>
							<li>RAM: Kingston HyperX FURY 8GB</li>
							<li>CASE: FUZION mATX Case</li>
							<li>PSU: Generic 700W PSU</li>
							<li>FANS: Deepcool RF120 FS</li>
							<li>SSD: Crucial MX500 (500GB)</li>
						</ul>
					</details>
				</li>

				<li>Mouse: Redragon M601 Centrophorus</li>
				<li>Keyboard: Rakk Lam-Ang (Red Oetemu Switch)</li>
				<li>Monitor: Lenovo T2324p 23-Inch</li>
				<li>Earbuds: Xiaomi Redmi Airdots</li>
				<li>Speakers: Vortex DX-555 Speaker</li>
			</ul>

			<h2>Software</h2>
			<ul>
				<li>Operating System: Windows</li>
				<li>
					Text Editor: Visual Studio Code
					<details>
						<summary>Extensions</summary>
						<ul>
							<li>Astro</li>
							<li>Babel JavaScript</li>
							<li>Better Comments</li>
							<li>Deno</li>
							<li>EditorConfig for VS Code</li>
							<li>ESLint</li>
							<li>GitHub Markdown Preview</li>
							<li>GitHub Pull Requests and Issues</li>
							<li>GitHub Repositories</li>
							<li>GitHub Theme</li>
							<li>GitLen &mdash; Git supercharged</li>
							<li>Hex Editor</li>
							<li>Markdown Checkboxes</li>
							<li>Markdown Emoji</li>
							<li>Markdown Footnotes</li>
							<li>Markdown Preview Github Styling</li>
							<li>Markdown Preview Mermaid Support</li>
							<li>Markdown yaml Preamble</li>
							<li>Material Icon Theme</li>
							<li>Material Product Icons</li>
							<li>Prettier - Code Formatter</li>
							<li>Prisma</li>
							<li>Remote Repositories</li>
							<li>Svelte for VS Code</li>
							<li>Tailwind CSS IntelliSense</li>
							<li>Thunder Client</li>
						</ul>
					</details>
				</li>
				<li>Terminal: Windows Terminal</li>
				<li>Shell: PowerShell 7</li>
				<li>Version Control: Git</li>
				<li>Git Hosting Platform: GitHub</li>
			</ul>
		</article>
	</Fragment>
</DefaultLayout>
