<section>
  <div style="border-bottom: 1px solid;">
    <h2>Certificates</h2>
  </div>
  <h3>
    <span>Arduino Microprocessor Crash Course</span>
    <span>San Jose, San Pablo, CALABARZON </span>
  </h3>
  <h4>
    <span> PLSP </span>
    <span>January 5, 2024</span>
  </h4>
  <h3>
    <span>National Fire Prevention Month: Safety Seminar</span>
    <span>San Jose, San Pablo, CALABARZON </span>
  </h3>
  <h4>
    <span> PLSP </span>
    <span>March 8, 2024</span>
  </h4>
  <h3>
    <span>Responsive Web Design Developer Certification</span>
    <span>San Francisco, California</span>
  </h3>
  <h4>
    <span>FreeCodeCamp</span>
    <span>September 16, 2023</span>
  </h4>
</section>

<style>
  h3 {
    display: flex;
    justify-content: space-between;
  }
  h4 {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
  }
</style>
