<section>
  <div style="border-bottom: 1px solid;">
    <h2>Education</h2>
  </div>
  <h3>
    <span>Pamantasan ng Lungsod ng San Pablo</span>
    <span>San Jose, San Pablo, CALABARZON</span>
  </h3>
  <h4>
    <span>Bachelor of Science in Computer Engineering</span>
    <span>August 2021 - July 2025</span>
  </h4>
  <h3>
    <span>Crecencia Drusila Lopez Senior High School</span>
    <span>San Roque, San Pablo, CALABARZON</span>
  </h3>
  <h4>
    <span>ICT</span>
    <span>June 2020 - June 2021</span>
  </h4>
  <h3>
    <span>San Pablo Colleges</span>
    <span>Hermanos Belen St., San Pablo, CALABARZON</span>
  </h3>
  <h4>
    <span>ICT</span>
    <span>June 2019 - May 2020</span>
  </h4>
</section>

<style>
  h3 {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
  }
</style>
