<section>
  <div style="border-bottom: 1px solid;">
    <h2>Project Experience</h2>
  </div>
  <h3>
    <span>CarGo</span>
    <span>San Pablo, CALABARZON</span>
  </h3>
  <h4>
    <span>Major Client Thesis Project</span>
    <span>April 2024 - November 2024</span>
  </h4>
  <h3>
    <span>Brainleap: Learning Management System</span>
    <span>San Jose, San Pablo, CALABARZON</span>
  </h3>
  <h4>
    <span>Software Design Course</span>
    <span>Aug 2023 - Dec 2023</span>
  </h4>
  <ul>
    <li>
      A project created for our software design course in the 1st semester of
      our 3rd year
    </li>
  </ul>
  <h3>
    <span>Tanjerin: AI Chatbot</span>
    <span>San Pablo, CALABARZON</span>
  </h3>
  <h4>
    <span>Personal Project</span>
    <span>Feb 2024 - Present</span>
  </h4>
  <ul>
    <li>
      An AI Chatbot that gives you recipes based on the image uploaded or the
      text prompt that you gave.
    </li>
  </ul>
  <h3>
    <span>Markdone: Notetaking App</span>
    <span>San Pablo, CALABARZON</span>
  </h3>
  <h4>
    <span>Personal Project</span>
    <span>Mar 2023 - Present</span>
  </h4>
  <ul>
    <li>
      A markdown editor for the web, built in two months, and it's still in
      progress. I envision it as a tool to use for writing blog posts, and other
      content focused documents with markdown.
    </li>
  </ul>
  <h3>
    <span>Atcloud: Weather App</span>
    <span>San Pablo, CALABARZON</span>
  </h3>
  <h4>
    <span>Personal Project</span>
    <span>Mar 2023 - Feb 2024</span>
  </h4>
  <ul>
    <li>A simple web app to check the weather.</li>
  </ul>
</section>

<style>
  h3 {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
  }
</style>
