<aside>
  <nav>
    <ul>
      <li>
        <a href="#about-me"> About Me </a>
      </li>

      <li>
        <a href="#work-experience"> Experience </a>
      </li>

      <li>
        <a href="#projects"> Projects </a>
      </li>

      <li>
        <a href="#posts"> Posts </a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="https://github.com/cpeaustriajc" target="_blank"> GitHub </a>
      </li>
      <li>
        <a href="https://bsky.app/profile/cpeaustriajc.bsky.social" target="_blank"> BlueSky </a>
      </li>
      <li>
        <a href="mailto:cpe.austria.johncarlo@gmail.com"> Email </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/cpeaustriajc/" target="_blank">
          LinkedIn
        </a>
      </li>
      <li>
        <a href="/cv"> Resume </a>
      </li>
    </ul>
  </nav>
</aside>

<style>
    aside {
        position: sticky;
        top: 0;
        left: 0;
        height: 100dvh;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
</style>
