---
type Props = {
  title: string;
  link: string;
  description: string;
};

const { link, title, description } = Astro.props;
---

<h3>{title}</h3>
<p>{description}</p>
<a href={link} target="_blank" class="btn">View on GitHub</a>

<style>
  h3 {
    margin: unset;
  }
  p {
    margin: unset;
  }
</style>
