---
type Props = {
  title: string;
  link: string;
  description: string;
  site: string;
  status: "active" | "archived";
};

const { link, title, description, site, status } = Astro.props;
---

<li>
  <h3>{title} {status === "archived" && "(Archived)"}</h3>
  <p>{description}</p>
  <a href={link} target="_blank" class="btn">View on GitHub</a>
  <a
    href={site}
    target="_blank"
    class:list={["btn", status === "archived" && "disabled"]}
    >View Application</a
  >
</li>

<style>
  h3 {
    margin: unset;
  }

  p {
    margin: unset;
  }

  li {
    display: grid;
    grid-template-rows: min-content 1fr 2.25em;
    background: light-dark(hsl(var(--gray-3-hsl)), hsl(var(--gray-10-hsl)));
    border-style: solid;
    border-width: var(--border-size-1);
    border-color: light-dark(hsl(var(--gray-4-hsl)), hsl(var(--gray-8-hsl)));
    border-radius: var(--radius-2);
    padding-inline: var(--size-3);
    padding-block: var(--size-2);
    align-items: start;
    justify-items: stretch;
    row-gap: var(--size-6);
  }

  .disabled {
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
  }
</style>
