---
type Props = {
  title: string;
  link: string;
  description: string;
};

const { link, title, description } = Astro.props;
---

<article
  class="h-full rounded-lg border border-border bg-card p-8 text-card-foreground"
>
  <div class="grid h-full items-stretch">
    <div>
      <h3 class="py-4 text-5xl font-bold text-neutral-50">{title}</h3>
    </div>
    <div class="justify-self-start">
      <p>{description}</p>
    </div>
    <div class="self-end pt-8">
      <a href={link} target="_blank" class="btn">View on GitHub</a>
    </div>
  </div>
</article>
