---
import HamburgerMenu from "~/components/assets/HamburgerMenu.astro";
import { dropdownMenuItem } from "./ui/dropdown-menu";
---

<dropdown-menu class="relative md:hidden">
  <button
    type="button"
    class="inline-flex items-center justify-center gap-2 rounded bg-neutral-900 px-2 py-2 text-sm font-medium leading-6 text-neutral-50 md:hidden"
  >
    <HamburgerMenu />
    <span class="sr-only">Hamburger Menu</span>
  </button>

  <ul
    data-state="closed"
    class="absolute right-0 z-10 flex translate-y-2 flex-col gap-2 rounded border border-neutral-800 bg-neutral-900 bg-opacity-25 p-4 text-neutral-50 opacity-0 backdrop-blur transition-opacity"
  >
    <li>
      <a href="https://read.cv/jayzersdotdev" class={dropdownMenuItem()}
        >Resume</a
      >
    </li>
    <li>
      <a href="/posts" class={dropdownMenuItem()}>Posts</a>
    </li>
    <li>
      <a href="/projects" class={dropdownMenuItem()}>Projects</a>
    </li>
    <li>
      <a
        href="mailto:cpe.austria.johncarlo@gmail.com"
        class={dropdownMenuItem()}>Contact</a
      >
    </li>
  </ul>
</dropdown-menu>

<script>
  class DropdownMenu extends HTMLElement {
    constructor() {
      super();

      this.addEventListener("click", () => {
        if (this.dataset.state === "open") {
          this.dataset.state = "closed";
          this.querySelector("ul")?.classList.remove("opacity-100");
          this.querySelector("ul")?.classList.add("opacity-0");
        } else {
          this.dataset.state = "open";
          this.querySelector("ul")?.focus();
          this.querySelector("ul")?.classList.remove("opacity-0");
          this.querySelector("ul")?.classList.add("opacity-100");
        }
      });
    }
  }

  customElements.define("dropdown-menu", DropdownMenu);
</script>
