---
const sitemap = new URL("sitemap-index.xml", Astro.url.origin)
---

<footer class="px-4 my-8 prose dark:prose-invert">
    <p>John Carlo Austria</p>
    <a href={sitemap}>Sitemap.xml</a>
</footer>
