---
const sitemap = new URL("sitemap-index.xml", Astro.url.origin);
---

<footer class="grid grid-cols-3 px-4 my-8 lg:w-1/2 lg:mx-auto">
	<ul class="space-y-4 justify-center">
		<li>
			<a href="/" class="dark:hover:text-blue-400 hover:text-sky-800 transition-colors"
				>Home</a
			>
		</li>
		<li class="space-y-4">
			<a href="/about" class="dark:hover:text-blue-400 hover:text-sky-800 transition-colors"
				>About</a
			>
		</li>
		<li>
			<a href="/blog" class="dark:hover:text-blue-400 hover:text-sky-800 transition-colors"
				>Blog</a
			>
		</li>
	</ul>
	<ul class="space-y-4">
		<li>
			<a
				href="https://github.com/jaycedotbin"
				class="dark:hover:text-blue-400 hover:text-sky-800 transition-colors">Github</a
			>
		</li>
		<li>
			<a
				href="https://www.linkedin.com/in/jaycedotbin/"
				class="dark:hover:text-blue-400 hover:text-sky-800 transition-colors">LinkedIn</a
			>
		</li>
		<li>
			<a
				href="https://twitter.com/jaycedotbin"
				class="dark:hover:text-blue-400 hover:text-sky-800 transition-colors">Twitter</a
			>
		</li>
	</ul>
	<ul class="space-y-4">
		<li>
			<a
				href="mailto:johncarloaustria@proton.me"
				class="dark:hover:text-blue-400 hover:text-sky-800 transition-colors">Email</a
			>
		</li>
		<li>
			<a href={sitemap} class="dark:hover:text-blue-400 hover:text-sky-800 transition-colors"
				>Sitemap.xml</a
			>
		</li>
	</ul>
</footer>
