---
/**
 * Header was inspired by https://reflect.app
 */

import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Logo from "~/assets/images/home/logo.png";
---

<header>
  <a href="/" class="navigation-link">
    <Image
      src={Logo}
      width={24}
      height={24}
      loading="eager"
      alt="The brand logo for John Carlo Austria, a computer engineer."
    />
  </a>
  <nav>
    <ul>
      <li>
        <a
          href="https://github.com/jeyceedotdev"
          class="icon navigation-link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <Icon name="carbon:logo-github" size={20} title="Github" />
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/jeyceedotdev"
          class="icon navigation-link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <Icon name="carbon:logo-twitter" size={20} title="Twitter" />
        </a>
      </li>
      <li>
        <a
          href="mailto:cpe.austria.johncarlo@gmail.com"
          class="icon navigation-link"
          ><Icon name="carbon:email" size={20} title="Email" /></a
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  .icon {
    color: var(--gray-1);
    aspect-ratio: 1 / 1;
  }

  header {
    display: grid;
    grid-auto-flow: column;
    place-content: space-between;
    place-items: center;
    gap: var(--size-7);
    width: 65ch;
  }

  ul {
    display: inline grid;
    grid-auto-flow: column;
    padding: 0;
    gap: var(--size-7);
    list-style-type: none;

    & li {
      padding: 0;
    }
  }
</style>
