---
/**
 * Header was inspired by https://reflect.app
 */

import { Image } from "astro:assets";
import Logo from "~/assets/images/home/logo.png";
---

<header>
  <a href="/" class="navigation-link">
    <Image
      src={Logo}
      width={48}
      height={48}
      loading="eager"
      alt="The brand logo for John Carlo Austria, a computer engineer."
    />
  </a>
  <nav>
    <ul>
      <li>
        <a
          href="https://read.cv/jayzersdotdev"
          rel="noopener noreferrer"
          target="_blank"
          class="navigation-link"
        >
          Resume
        </a>
      </li>
      <li>
        <a href="/#posts" class="navigation-link"> Posts</a>
      </li>
      <li>
        <a href="/#projects" class="navigation-link"> Projects</a>
      </li>
    </ul>
  </nav>
  <a href="mailto:cpe.austria.johncarlo@gmail.com" class="btn contact"
    >Contact</a
  >
</header>

<style>
  header {
    display: inline grid;
    grid-auto-flow: column;
    place-content: space-between;
    place-items: center;
    padding-inline: var(--size-7);
    padding-block: var(--size-3);
    gap: var(--size-7);
  }

  ul {
    display: inline grid;
    grid-auto-flow: column;
    padding: 0;
    gap: var(--size-7);
    list-style-type: none;

    & li {
      padding: 0;
    }
  }
</style>
