<header class="flex flex-row px-4 py-4 my-4 min-h-fit h-16">
    <a href="/" class="flex-grow">
        <img src="/android-chrome-512x512.png" width={32} height={32} alt="Site Logo">
    </a>
    <nav>
        <ul class="flex flex-row justify-self-end gap-2">
            <li>
                <a href="/" class="text-lg">Home</a>
            </li>

            <li>
                <a href="/blog" class="text-lg">Blog</a>
            </li>
        </ul>
    </nav>
</header>
