---
/**
 * Header was inspired by https://reflect.app
 */

import { Icon } from "astro-icon/components";
---

<header>
  <a href="/" class="navigation-link">
    <svg
      width="48"
      height="48"
      viewBox="0 0 48 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>Site Logo</title>
      <path
        d="M40.9705 22.4522C41.2767 25.8086 40.5806 29.1805 38.9704 32.1414C37.3602 35.1022 34.9081 37.5191 31.9243 39.0864C28.9405 40.6537 25.559 41.301 22.2073 40.9464C18.8556 40.5919 15.6843 39.2514 13.0945 37.0945C10.5046 34.9376 8.61253 32.0611 7.65747 28.8289C6.70241 25.5966 6.72726 22.1538 7.7289 18.9357C8.73053 15.7175 10.6639 12.8687 13.2847 10.7494C15.9054 8.63014 19.0957 7.33557 22.4521 7.02944L22.8391 11.2721C20.3218 11.5017 17.929 12.4726 15.9635 14.0621C13.998 15.6515 12.5479 17.7882 11.7967 20.2017C11.0454 22.6153 11.0268 25.1975 11.7431 27.6217C12.4594 30.0458 13.8785 32.2032 15.8208 33.8209C17.7632 35.4385 20.1417 36.4439 22.6554 36.7098C25.1692 36.9758 27.7054 36.4903 29.9432 35.3148C32.1811 34.1394 34.0201 32.3267 35.2278 30.106C36.4355 27.8854 36.9575 25.3565 36.7279 22.8391L40.9705 22.4522Z"
        fill="light-dark(black, white)"></path>
      <path
        d="M35.0469 23.9291C35.0407 26.1248 34.3835 28.2693 33.1585 30.0915C31.9335 31.9137 30.1956 33.3317 28.1647 34.1663C26.1338 35.0008 23.901 35.2143 21.7487 34.7799C19.5964 34.3454 17.6213 33.2825 16.0731 31.7256C14.5249 30.1686 13.4732 28.1875 13.0509 26.0328C12.6286 23.8781 12.8548 21.6465 13.7008 19.6204C14.5468 17.5942 15.9746 15.8644 17.8037 14.6497C19.6328 13.435 21.781 12.7899 23.9767 12.7962L23.9641 17.2368C22.6467 17.2331 21.3578 17.6201 20.2603 18.3489C19.1629 19.0777 18.3062 20.1156 17.7986 21.3313C17.291 22.547 17.1553 23.8859 17.4087 25.1788C17.662 26.4716 18.2931 27.6603 19.222 28.5944C20.1509 29.5286 21.336 30.1664 22.6274 30.427C23.9187 30.6877 25.2584 30.5596 26.477 30.0589C27.6955 29.5581 28.7382 28.7073 29.4732 27.614C30.2082 26.5207 30.6025 25.234 30.6063 23.9166L30.6551 6.61658L35.0958 6.62913L35.0469 23.9291Z"
        fill="light-dark(black, white)"></path>
    </svg>
  </a>
  <nav>
    <ul>
      <li>
        <a
          href="https://github.com/fujiwaracj"
          class="icon navigation-link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <Icon name="carbon:logo-github" size={24} title="Github" />
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/cjfujiwara"
          class="icon navigation-link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <Icon name="carbon:logo-twitter" size={24} title="Twitter" />
        </a>
      </li>
      <li>
        <a
          href="mailto:cpe.austria.johncarlo@gmail.com"
          class="icon navigation-link"
        >
          <Icon name="carbon:email" size={24} title="Email" />
        </a>
      </li>
      <li>
        <a href="/cv" class="icon navigation-link">
          <Icon name="carbon:document" size={24} title="Email" />
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .icon {
    color: light-dark(var(--gray-11), var(--gray-1));
    aspect-ratio: 1 / 1;
  }

  header {
    display: grid;
    grid-auto-flow: column;
    place-content: space-between;
    place-items: center;
    gap: var(--size-7);
    padding-inline: 1rem;
  }

  ul {
    display: inline grid;
    grid-auto-flow: column;
    padding: 0;
    gap: var(--size-7);
    list-style-type: none;

    & li {
      padding: 0;
    }
  }

  @media screen and (min-width: 768px) {
    header {
      padding-inline: var(--size-13);
    }
  }
</style>
