<header class="flex flex-row px-4 py-4 my-4 min-h-fit h-16 lg:w-1/2 lg:mx-auto">
	<section class="flex-grow">
		<a href="/">
			<img src="/android-chrome-512x512.png" width={32} height={32} alt="Site Logo" />
		</a>
	</section>
	<section>
		<nav>
			<ul class="flex flex-row justify-self-end gap-4">
				<li>
					<a
						href="/"
						class="dark:text-blue-300 text-blue-800 visited:text-purple-800 dark:visited:text-purple-300 underline"
						>/home
					</a>
				</li>

				<li>
					<a
						href="/about"
						class="dark:text-blue-300 text-blue-800 visited:text-purple-800 dark:visited:text-purple-300 underline"
						>/about
					</a>
				</li>

				<li>
					<a
						href="/blog"
						class="dark:text-blue-300 text-blue-800 visited:text-purple-800 dark:visited:text-purple-300 underline"
						>/blog
					</a>
				</li>
				<li>
					<a
						href="/uses"
						class="dark:text-blue-300 text-blue-800 visited:text-purple-800 dark:visited:text-purple-300 underline"
						>/uses
					</a>
				</li>
				<li>
					<a
						href="/resume"
						class="dark:text-blue-300 text-blue-800 visited:text-purple-800 dark:visited:text-purple-300 underline"
						>/resume
					</a>
				</li>
			</ul>
		</nav>
	</section>
</header>
