---
/**
 * Header was inspired by https://reflect.app
 */

import DropdownMenu from "./DropdownMenu.astro";
import { Image } from "astro:assets";
import Logo from "~/assets/images/home/logo.png";
---

<header>
  <a href="/" class="navigation-link">
    <Image
      src={Logo}
      width={48}
      height={48}
      format="svg"
      loading="eager"
      alt="The brand logo for John Carlo Austria, a computer engineer."
    />
  </a>
  <nav>
    <ul>
      <li>
        <a
          href="https://read.cv/jayzersdotdev"
          rel="noopener noreferrer"
          target="_blank"
          class="navigation-link"
        >
          Resume
        </a>
      </li>
      <li>
        <a href="/posts" class="navigation-link"> Posts</a>
      </li>
      <li>
        <a href="/#projects" class="navigation-link"> Projects</a>
      </li>
    </ul>
  </nav>
  <a
    href="mailto:cpe.austria.johncarlo@gmail.com"
    class="btn contact">Contact</a
  >
  <DropdownMenu />
</header>

<style>
  header {
    display: grid;
    position: sticky;
    grid-auto-flow: column;
    place-content: space-between;
    place-items: center;
    padding-inline: var(--size-7);
    padding-block: var(--size-3);
    border-color: hsl(var(--gray-1-hsl) / 5%);
    background-color: hsl(var(--gray-1-hsl) / 5%);
    border-width: var(--border-size-1);
    border-radius: var(--radius-round);
    gap: var(--size-7);
    left: 0;
    top: 0;
    z-index: var(--layer-5);
    backdrop-filter: blur(var(--size-1));
  }

  nav {
    border-radius: var(--radius-round);
    display: none;
    border-width: 1px;
    border-color: hsl(var(--gray-1-hsl) / 5%);
    background: hsl(var(--gray-1-hsl) / 5%);
    padding-inline: var(--size-3);
    padding-block: var(--size-2);
  }

  ul {
    display: inline-grid;
    grid-auto-flow: column;
    padding: 0;
    gap: var(--size-7);
    list-style-type: none;

    & li {
      padding: 0;
    }
  }

  @media (min-width: 768px) {
    nav {
      display: block;
    }
  }

  @media (min-width: 1024px) {
    header {
      top: var(--size-3);
    }
  }
</style>

<style is:global>
  .btn.contact {
    display: none;
    background-color: hsl(var(--gray-1-hsl) / 5%);
  }

  @media (min-width: 768px) {
    .btn.contact {
      display: inline-flex;
    }
  }
</style>
<style is:global>
  .btn {
    align-items: center;
    justify-content: center;
    gap: var(--size-2);
    color: var(--gray-1);
    border-radius: var(--radius-round);
    font-size: var(--font-size-fluid-0);
    font-weight: var(--font-weight-5);
    line-height: var(--font-lineheight-3);
    padding-block: var(--size-2);
    padding-inline: var(--size-3);
    box-shadow: 0 0 16px 4px hsl(var(--blue-1-hsl));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;

    &:hover {
      background-color: var(--blue-5);
    }
  }
</style>
<style is:global>
  /**
    Components
  */
  .navigation-link {
    border-radius: var(--radius-round);
    font-size: var(--font-size-fluid-0);
    font-weight: var(--font-weight-5);
    color: var(--gray-1);
    outline-offset: var(--size-1);
    text-decoration: none;
    transition-property: color, background-color, border-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }

  .navigation-link:hover {
    color: var(--blue-5);
  }

  .navigation-link:focus {
    outline-style: solid;
    outline-width: var(--border-size-1);
    outline-color: var(--blue-5);
  }
</style>
