---
/**
 * Header was inspired by https://reflect.app
 */

import DropdownMenu from "./DropdownMenu.astro";
import { Image } from "astro:assets";
import Logo from "~/assets/images/home/logo.png";
---

<header>
  <div class="header-container">
    <a
      href="/"
      class="rounded-full transition-shadow duration-500 hover:ring-2 hover:ring-primary focus:outline focus:outline-2 focus:outline-primary"
    >
      <Image
        src={Logo}
        width={48}
        height={48}
        format="svg"
        loading="eager"
        alt="The brand logo for John Carlo Austria, a computer engineer."
      />
    </a>
    <nav
      class="hidden rounded-full border border-neutral-50/5 bg-neutral-50/5 px-3 py-2 md:block"
    >
      <ul class="flex flex-row items-center gap-4">
        <li>
          <a
            href="https://read.cv/jaycedotbin"
            rel="noopener noreferrer"
            target="_blank"
            class="rounded-full text-sm font-medium text-foreground outline-offset-8 transition-colors duration-500 hover:text-primary focus:outline focus:outline-2 focus:outline-primary"
          >
            Resume
          </a>
        </li>
        <li>
          <a
            href="/posts"
            class="rounded-full text-sm font-medium text-foreground outline-offset-8 transition-colors duration-500 hover:text-primary focus:outline focus:outline-2 focus:outline-primary"
          >
            Posts
          </a>
        </li>
        <li>
          <a
            href="/#projects"
            class="rounded-full text-sm font-medium text-foreground outline-offset-8 transition-colors duration-500 hover:text-primary focus:outline focus:outline-2 focus:outline-primary"
          >
            Projects
          </a>
        </li>
      </ul>
    </nav>
    <a
      href="mailto:cpe.austria.johncarlo@gmail.com"
      class="items-center hidden justify-center gap-2 rounded-full px-3 py-2 text-sm font-medium leading-6 text-foreground shadow-[0_0_16px_4px] shadow-primary ring-1 ring-primary transition-all duration-500 hover:bg-primary hover:ring-primary focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-transparent md:inline-flex"
      >Contact</a
    >
    <DropdownMenu />
  </div>
</header>
<style>
  header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    padding-inline: 2rem;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: rgba(0, 0, 4, 0.05);
    z-index: 10;
  }

  .header-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-block: 1rem;
    justify-content: space-between;
    position: relative;
  }

  .header-container::before {
    background: radial-gradient(
      62.87% 100% at 50% 100%,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  @media (min-width: 768px) {
    .header-container {
      padding-inline: 2rem;
    }
  }

  @media (min-width: 1440px) {
    .header-container {
      padding-inline: 20rem;
    }
  }
</style>
