<header
	class="flex justify-between max-w-prose mx-auto h-8 items-center my-4 px-4 lg:px-0"
>
	<h1>
		<a href="/">
			<picture>
				<source
					srcset="/logo-dark.svg"
					media="(prefers-color-scheme: dark)"
				/>
				<source
					srcset="/logo-light.svg"
					media="(prefers-color-scheme: light)"
				/>
				<img
					src="/logo-dark.svg"
					width="32"
					height="32"
					alt="John Carlo Austria's Logo"
				/>
			</picture>
		</a>
	</h1>
	<ul>
		<li>
			<a
				href="/resume"
				class="text-base underline text-zinc-500 dark:text-zinc-200"
				>Resume</a
			>
		</li>
	</ul>
</header>
