---
/**
 * Header was inspired by https://reflect.app
 */

import { Icon } from "astro-icon/components";
---

<header>
  <a href="/" class="navigation-link">
    <svg
      width="36"
      height="36"
      viewBox="0 0 36 36"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M30.728 16.8391C30.9576 19.3565 30.4356 21.8854 29.2279 24.106C28.0203 26.3267 26.1812 28.1394 23.9434 29.3148C21.7055 30.4903 19.1693 30.9758 16.6556 30.7098C14.1418 30.4439 11.7634 29.4385 9.82097 27.8209C7.87859 26.2032 6.45952 24.0458 5.74323 21.6217C5.02693 19.1975 5.04557 16.6153 5.79679 14.2017C6.54802 11.7882 7.99808 9.65154 9.96362 8.06207C11.9292 6.4726 14.3219 5.50168 16.8392 5.27208L17.1294 8.45406C15.2414 8.62626 13.4469 9.35445 11.9727 10.5466C10.4986 11.7387 9.41104 13.3411 8.84762 15.1513C8.2842 16.9615 8.27022 18.8981 8.80745 20.7162C9.34467 22.5344 10.409 24.1524 11.8658 25.3656C13.3225 26.5789 15.1064 27.3329 16.9917 27.5324C18.877 27.7318 20.7792 27.3677 22.4576 26.4861C24.136 25.6045 25.5152 24.245 26.421 22.5795C27.3267 20.914 27.7182 19.0174 27.546 17.1294L30.728 16.8391Z"
        fill="light-dark(black, white)"></path>
      <path
        d="M26.2857 17.9468C26.281 19.5936 25.7881 21.202 24.8694 22.5686C23.9506 23.9353 22.6472 24.9988 21.124 25.6247C19.6008 26.2506 17.9262 26.4107 16.312 26.0849C14.6978 25.7591 13.2165 24.9619 12.0553 23.7942C10.8942 22.6264 10.1054 21.1406 9.78867 19.5246C9.47197 17.9086 9.64158 16.2349 10.2761 14.7153C10.9106 13.1956 11.9814 11.8983 13.3532 10.9873C14.7251 10.0762 16.3362 9.59246 17.983 9.59711L17.9736 12.9276C16.9855 12.9248 16.0188 13.2151 15.1957 13.7617C14.3726 14.3083 13.7301 15.0867 13.3494 15.9985C12.9687 16.9103 12.867 17.9145 13.057 18.8841C13.247 19.8537 13.7203 20.7452 14.417 21.4458C15.1137 22.1465 16.0025 22.6248 16.971 22.8203C17.9395 23.0158 18.9443 22.9197 19.8582 22.5441C20.7721 22.1686 21.5542 21.5305 22.1054 20.7105C22.6567 19.8905 22.9524 18.9255 22.9552 17.9374L22.9918 4.96244L26.3223 4.97184L26.2857 17.9468Z"
        fill="light-dark(black, white)"></path>
    </svg>
  </a>
  <nav>
    <ul>
      <li>
        <a
          href="https://github.com/cpeaustriajc"
          class="icon navigation-link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <Icon name="carbon:logo-github" size={24} title="Github" />
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/cjfujiwara"
          class="icon navigation-link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <Icon name="carbon:logo-twitter" size={24} title="Twitter" />
        </a>
      </li>
      <li>
        <a
          href="mailto:cpe.austria.johncarlo@gmail.com"
          class="icon navigation-link"
        >
          <Icon name="carbon:email" size={24} title="Email" />
        </a>
      </li>
      <li>
        <a href="/cv" class="icon navigation-link">
          <Icon name="carbon:document" size={24} title="Email" />
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .icon {
    color: light-dark(var(--gray-11), var(--gray-1));
    aspect-ratio: 1 / 1;
  }

  header {
    display: grid;
    grid-auto-flow: column;
    place-content: space-between;
    place-items: center;
    gap: var(--size-7);
    padding-inline: 1rem;
  }

  ul {
    display: inline grid;
    grid-auto-flow: column;
    padding: 0;
    gap: var(--size-7);
    list-style-type: none;

    & li {
      padding: 0;
    }
  }

  @media screen and (min-width: 768px) {
    header {
      padding-inline: var(--size-13);
    }
  }
</style>
