---
import DropdownMenu from "./DropdownMenu.astro";

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<header
  class="inline-flex w-full items-center justify-between p-4 lg:px-40 lg:py-10"
>
  <a
    href="/"
    class="rounded-full transition-shadow duration-500 hover:ring-2 hover:ring-violet-400 focus:outline focus:outline-2 focus:outline-violet-400"
  >
    <img
      src="/logo.svg"
      width="48"
      height="48"
      alt="John Carlo Austria's Logo"
    />
  </a>
  <nav
    class="hidden rounded-full border border-neutral-800 bg-neutral-950 px-4 py-2 md:block"
  >
    <ul class="flex flex-row items-center gap-4">
      <li>
        <a
          href="https://read.cv/jaycedotbin"
          rel="noopener noreferrer"
          target="_blank"
          class="h-9 rounded-full text-sm font-medium leading-6 text-neutral-400 outline-offset-8 transition-colors duration-500 hover:text-neutral-50 focus:outline focus:outline-2 focus:outline-violet-400"
          class:list={[{ "text-purple-500": currentPath === "resume" }]}
          >
          Resume
        </a>
      </li>
      <li>
        <a
          href="/posts"
          class="h-9 rounded-full text-sm font-medium leading-6 text-neutral-400 outline-offset-8 transition-colors duration-500 hover:text-neutral-50 focus:outline focus:outline-2 focus:outline-violet-400"
          class:list={[{ "text-purple-500": currentPath === "posts" }]}

          >
          Posts
        </a>
      </li>
      <li>
        <a
          href="/projects"
          class="h-9 rounded-full text-sm font-medium leading-6 text-neutral-400 outline-offset-8 transition-colors duration-500 hover:text-neutral-50 focus:outline focus:outline-2 focus:outline-violet-400"
          class:list={[{ "text-purple-500": currentPath === "projects" }]}
          >
          Projects
        </a>
      </li>
    </ul>
  </nav>
  <a
    href="mailto:cpe.austria.johncarlo@gmail.com"
    class="hidden min-h-[2rem] min-w-[4rem] items-center justify-center gap-2 rounded-full bg-violet-600 px-4 py-2 text-sm font-medium leading-6 text-neutral-50 transition-all duration-500 hover:bg-transparent hover:ring-1 hover:ring-violet-600 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-violet-400 focus-visible:ring-offset-2 focus-visible:ring-offset-transparent md:inline-flex"
    >Contact</a
  >
  <DropdownMenu />
</header>
