---
import type { Frontmatter } from '@/types/frontmatter';
import type { MarkdownInstance } from 'astro';

const { post } = Astro.props as { post: MarkdownInstance<Frontmatter> };
---

<li>
	<a href={post.url}>
		<article class="border-b border-b-slate-600 pb-4 my-4">
			<header>
				<h2 class="text-xl text-blue-700 dark:text-sky-500 underline">{post.frontmatter.title}</h2>
			</header>
			<p>{post.frontmatter.description}</p>
		</article>
	</a>
</li>
