---
import type { CollectionEntry } from "astro:content";

interface Props {
	post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<li>
	<a href={`/blog/${post.slug}`}>
		<article
			class="flex flex-row justify-between pb-4 my-4 text-sm text-zinc-500 dark:text-zinc-200 font-bold hover:dark:text-zinc-400 hover:text-zinc-600 duration-300 transition-colors motion-reduce:transition-none"
		>
			<h2>
				{post.data.title}
			</h2>
			<time datetime={post.data.date.format.toString()}
				>{post.data.date.content}</time
			>
		</article>
	</a>
</li>
