---
import type { Frontmatter } from '@/types/frontmatter';
import type { MarkdownInstance } from 'astro';

const { post } = Astro.props as { post: MarkdownInstance<Frontmatter> };
---

<li>
	<a href={post.url}>
		<article>
			<header>
				<h3>{post.frontmatter.title}</h3>
			</header>
			<p>{post.frontmatter.description}</p>
		</article>
	</a>
</li>

<style>
	li {
		border-bottom: 1px solid hsl(203, 6%, 24.3%);
	}

	a {
		text-decoration: none;
	}

	a h3 {
		text-decoration: underline;
	}

	a p {
		color: hsl(210, 6%, 93%);
	}
</style>
