---
import { getCollection } from 'astro:content'
import Project from '~/components/Project.astro'

type Props = {
  limit?: number
}

const { limit } = Astro.props
const allProjects = await getCollection('projects')
const projects = limit ? allProjects.slice(0, limit) : allProjects
---

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
  {projects.map((project) => <Project project={project} />)}
</div>
