---
type Props = {
  title: string;
  link: string;
  description: string;
  site: string;
  status: "active" | "archived";
};

const { link, title, description, site, status } = Astro.props;
---

<li>
  <div>
    <h3>{title} {status === "archived" && "(Archived)"}</h3>
    <p>{description}</p>
  </div>
  <div>
    <a href={link} target="_blank">GITHUB</a>
    <a
      href={site}
      target="_blank"
      class:list={["btn", status === "archived" && "disabled"]}
    >
      APPLICATION
    </a>
  </div>
</li>
