---
import Certificates from "./components/Certificates.astro";
import Education from "./components/Education.astro";
import Experience from "./components/Experience.astro";
import Header from "./components/Header.astro";
import Meta from "./components/Meta.astro";
import Projects from "./components/Projects.astro";
import Skills from "./components/Skills.astro";
import Summary from "./components/Summary.astro";
---

<html>
  <Meta />
  <body>
    <main style="width: 65ch; margin-inline: auto">
      <Header />
      <Summary />
      <Experience />
      <Projects />
      <Certificates />
      <Education />
      <Skills />
    </main>

    <style is:global>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      body {
        font-family: Inter;
        margin: 0;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
      }

      a {
        font-weight: bold;
        text-decoration: none;
        text-underline-offset: 0.3rem;
        color: light-dark(#000000, #fff);
      }

      a:hover {
        text-underline-offset: 0.35rem;
        transition: text-underline-offset 250ms ease-in;
      }

      main {
        margin-inline: 2rem;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h5,
      a {
        font-size: 14px;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }

      ul {
        padding-inline-start: 1rem;
      }

      ul,
      ol {
        margin-block: 0.35rem;
      }

      ul li {
        font-size: 14px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-block: 0.15rem;
        text-wrap: balance;
      }

      h2 {
        font-weight: 800;
        margin-block: 0.5rem;
      }

      p {
        text-wrap: pretty;
        max-inline-size: 85ch;
        margin-block: 0.25rem;
      }

      body {
        font-family: sans-serif;
      }
    </style>
  </body>
</html>
