---
import "@fontsource/inter/latin-400.css";
import "@fontsource/inter/latin-500.css";
import "@fontsource/inter/latin-700.css";
import "@fontsource/roboto-mono/latin-400.css";

import Header from "~/components/Header.astro";
---

<html dir="ltr" lang="en">
  <head>
    <slot name="head" />
  </head>

  <body class="bg-white text-zinc-700 dark:bg-zinc-900 dark:text-zinc-400">
    <Header />
    <slot name="content" />
  </body>
</html>
