---
import '@fontsource/inter';
import '@fontsource/oswald';
import Header from '@/components/Header.astro';
---

<html dir="ltr" lang="en">
	<slot name="head" />

	<body>
		<Header />
		<slot name="content" />
	</body>
</html>
