<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
  <title>Home | John Carlo Austria</title>
</head>

<body>
  <slot />
</body>

</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

  :root {
    color-scheme: dark light;
    --duration: 500ms;
    --timing: ease;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    color: var(--on-background);
    transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
  }

  a {
    color: var(--accent-primary);
  }

  li {
    padding: 4px 0;
  }

  .navigation {
    display: flex;
    background-color: var(--surface);
    border-bottom: solid 1px var(--outline);
    justify-content: center;
    align-items: center;
    padding: 0 24px;
  }

  .navigation ul {
    display: flex;
    flex-grow: 1;
    padding: 0;
    list-style: none;
    gap: 0.5rem;
  }


  .navigation ul li a {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .profile-picture {
    border: 2px solid var(--accent-primary);
    border-radius: 100%;
    width: 160px;
  }

  .profile figcaption {
    text-align: center;
  }

  .theme-switch {
    cursor: pointer;
    touch-action: manipulation;
  }

  /* Utilities */
  .btn {
    background-color: var(--accent-primary);
    border: unset;
    border-radius: 24px;
    color: var(--on-accent-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    text-transform: capitalize;
  }

  .container-sm {
    padding: 0px 24px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --accent-primary: #D0BCFF;
      --on-accent-primary: #381E72;
      --accent-primary-container: #4F378B;
      --on-accent-primary-container: #EADDFF;
      --accent-secondary: #CCC2DC;
      --on-accent-secondary: #332D41;
      --accent-secondary-container: #4A4458;
      --on-accent-secondary-container: #E8DEF8;
      --accent-tertiary: #EFB8C8;
      --on-accent-tertiary: #492532;
      --accent-tertiary-container: #633B48;
      --on-accent-tertiary-container: #FFD8E4;
      --error: #F2B8B5;
      --on-error: #601410;
      --error-container: #8C1D18;
      --on-error-container: #F2B8B5;
      --background: #1C1B1F;
      --on-background: #E6E1E5;
      --surface: #1C1B1F;
      --on-surface: #E6E1E5;
      --outline: #938F99;
      --surface-variant: #49454F;
      --on-surface-variant: #CAC4D0;
    }

    .profile-picture {
      filter: grayscale(50%);
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      --accent-primary: #6750A4;
      --on-accent-primary: #FFFFFF;
      --accent-primary-container: #EADDFF;
      --on-accent-primary-container: #21005D;
      --accent-secondary: #625B71;
      --on-accent-secondary: #FFFFFF;
      --accent-secondary-container: #E8DEF8;
      --on-accent-secondary-container: #1D192B;
      --accent-tertiary: #7D5260;
      --on-accent-tertiary: #FFFFFF;
      --accent-tertiary-container: #FFD8E4;
      --on-accent-tertiary-container: #31111D;
      --error: #B3261E;
      --on-error: #FFFFFF;
      --error-container: #F9DEDC;
      --on-error-container: #410E0B;
      --background: #FFFBFE;
      --on-background: #1C1B1F;
      --surface: #FFFBFE;
      --on-surface: #1C1B1F;
      --outline: #79747E;
      --surface-variant: #E7E0EC;
      --on-surface-variant: #49454F;
    }
  }
</style>
