---
import "@fontsource/inter";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<html dir="ltr" lang="en">


<slot name="head" />

<body class="font-sans antialiased dark:bg-gray-800 dark:text-gray-50">
  <Header />
  <main class="px-4">
    <slot name="content" />
  </main>
  <Footer />
</body>

</html>
