---
import Head from "@/components/Head.astro";
import "@fontsource/inter";
---

<html dir="ltr" lang="en">

<Head />

<body class="font-sans antialiased dark:bg-gray-800 dark:text-gray-50">
  <slot />
</body>

</html>
