---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@/styles/font.css";
---

<html dir="ltr" lang="en">
	<slot name="head" />

	<body>
		<Header />
		<slot name="content" />
		<Footer />

		<style is:global>
			body {
				font-family: "Inter", system-ui, -apple-system,
					BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
					Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			@media (prefers-color-scheme: dark) {
				body {
					color: rgb(249, 250, 251, 1);
					background-color: hsl(0, 0%, 9%);
				}
			}
		</style>
	</body>
</html>
