---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@fontsource/inter";
---

<html dir="ltr" lang="en">
	<slot name="head" />

	<body class="font-sans antialiased dark:bg-neutral-900 dark:text-gray-50">
		<Header />
		<slot name="content" />
		<Footer />
	</body>
</html>
